
.card {
    position: relative;
    width: 160px;
    transform-style: preserve-3d;
    transition: 0.5s;
    margin: 3px auto;
}

.card.flip {
    transform: rotateY(180deg);
    transition: 0.5s;
}

.front, .back {
    position: absolute;
    width: 160px;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}