.img-cont{
    margin: auto;
    width: 97%;
    height: 35vh;
    border: 1px solid black;
    overflow-y: scroll;
}

.img-cont div {
    padding: 0 12px;
    height: 90%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
