body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.image {
    width: 300;
    border-radius: 50%;
}

.container {
    text-align: center;
    height: 100%;
    margin: 10% auto;
}

.container input {
    border-radius: 10%;
    padding: 6px;
    color: midnightblue;
}
