.body {
  display: flex;
  margin-top: 8vh;
  z-index: 1;
  background-color: rgb(238, 238, 238);
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main {
  width: 60vw;
}

.cont {
  margin-left: 20vw;
}

